<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HellGlow World2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA97842B1C8831F800B706F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA97843F1C8831FA00B706F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA97844A1C8831FA00B706F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
